[bumpversion]
current_version = 1.2.5
commit = True
tag = True
tag_name = v{new_version}

[bumpversion:file:api/shared/version.py]
search = VERSION = "{current_version}"
replace = VERSION = "{new_version}"
