# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
*.egg-info/
dist/
build/
myenv
myenv/*
tests
docker*
Dockerfile
embeddings_*
scripts
backend/*
backend/app.py
backup_frontend
backup_frontend/*
scripts
scripts/*
# Database
*.db
*.db-journal
*.sqlite
*.sqlite3

# Environment
.env
.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Cache
.cache/
.pytest_cache/

#JSON
local.settings.json
.vscode/settings.json
.idea/

# Data files
data/*.csv

# Azure deployment artifacts
.azure/
bin/
obj/